<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

<% end %>
<%= link_to 'New Blog', new_blog_path %>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>Description</th>
     
    </tr>
  </thead>

 

  <tbody>
     <% if user_signed_in? %>
     <%= render "blogs/user_blogs"%>
     <% else%>
     <%= render "blogs/without_login"%>
    <% end %>
  </tbody>
</table>

            <br>
